* {
  box-sizing: border-box;
}

@font-face {
  font-family: Pragmatica;
  src: url("https://cdn.glitch.com/dbd6a892-3877-4760-a1ec-d39db8c96792%2FPragmaticaCondBlack.otf?v=1627096931812")
    format("opentype");
}

:root {
  --border-width:       5px;
  --border-color:       #435058;
  --border-color-light: #BFB7B6;
  --text-color:         #435058;
  --accent-color:       #E4572E;
}

body {
  font-family: sans-serif;
  background-color: #F1F2EE;
  color: var(--text-color);
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  display: table;
  border-bottom: 5px dotted var(--accent-color);
  padding-bottom: 2px;
  margin-bottom: 1.5rem;
  font-family: Pragmatica;
}

a {
  color: var(--accent-color);
}

header, footer {
  margin: 1rem;
}

hr {
  border: 0;
  border-bottom: var(--border-width) solid var(--border-color);
  margin: 1rem 0;
}

form {
  border: var(--border-width) solid var(--border-color);
}

fieldset {
  border: 0;
  border-bottom: var(--border-width) solid var(--border-color);
  padding: 0;
  padding-bottom: 1rem;
  margin: 1rem 0;
}
fieldset legend {
  font-family: Pragmatica;
  font-size: 1.2rem;
/*   padding: 0 0.5rem; */
}

.field {
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem 0;
}
.field label {
  flex: 0 1 6rem;
}
input[type=number] {
  width: 3rem;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  --height: 0.45rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: var(--accent-color);
  margin-top: calc((-1 * var(--height) / 2) - 1px);
}
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: #EEEEEE;
  border: 1px solid var(--border-color);
  height: var(--height);
  border-radius: var(--height);
}

.dropzone {
  border-bottom: var(--border-width) solid var(--border-color);
}
.dropzone label {
  display: block;
  padding: 2rem;
  background-color: transparent;
  text-align: center;
}
.dropzone--active label {
  background-color: var(--border-color-light);
}

.preview svg {
  width: 100vw;
  height: 100vw;
  max-width: 600px;
  max-height: 600px;
}

.preview canvas {
  position: absolute;
  left: -1000px;
}




/* Our remix on glitch button */
.btn--remix {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

